flows (1).json
[{"id":"c3447c.24134b88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4110d83a.0e1d08","type":"ui_form","z":"c3447c.24134b88","name":"","label":"","group":"b02dc048.4cca2","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":280,"wires":[["80a1b250.4a2ac"]]},{"id":"80a1b250.4a2ac","type":"function","z":"c3447c.24134b88","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["a0f731e3.9f70d","88839722.e77448"]]},{"id":"53b2986b.3adab8","type":"function","z":"c3447c.24134b88","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":220,"wires":[["785a8551.4ea4ac"]]},{"id":"a0f731e3.9f70d","type":"watson-conversation-v1","z":"c3447c.24134b88","name":"Customer Care","workspaceid":"ca50a767-54f9-488e-b2ec-79c52a09c57e","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/0436530f-85bb-4d0d-bf79-10ccb1956526","timeout":"","optout-learning":false,"x":480,"y":140,"wires":[["37322fba.c111a","53b2986b.3adab8"]]},{"id":"88839722.e77448","type":"ui_text","z":"c3447c.24134b88","group":"b02dc048.4cca2","order":2,"width":0,"height":0,"name":"","label":"You :","format":"{{msg.payload}}","layout":"row-left","x":320,"y":420,"wires":[]},{"id":"785a8551.4ea4ac","type":"ui_text","z":"c3447c.24134b88","group":"b02dc048.4cca2","order":3,"width":18,"height":4,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":640,"y":440,"wires":[]},{"id":"37322fba.c111a","type":"debug","z":"c3447c.24134b88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":80,"wires":[]},{"id":"b02dc048.4cca2","type":"ui_group","z":"","name":"Chatbot","tab":"f6f7a95f.644958","order":1,"disp":true,"width":18,"collapse":false},{"id":"f6f7a95f.644958","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]